<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content = "width=device-width, initial-scale = 1,
  shrink-to-fit = no">

    {% load staticfiles %}

    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <title>Form Submitted</title>
</head>

<style>
.wrapper{
  text-align: center;
}

.button{
  position:  absolute;
  top: 50%;
}
</style>

<body>
  <h1 align="center">Thank You For Your Submission</h1>
  <p align="center">Click Home to go back to the home page.</p>
  <div align="center">
    <button onclick="location.href='/'">Home</button>
  </div>

</body>
</html>
